<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="co.nexus.votingapp">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Student.CandidateRequestActivity"></activity>
        <activity android:name=".Teacher.ViewCandidateActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".Admin.AdminResultActivity" />
        <activity android:name=".GalleryActivity" />
        <activity android:name=".Student.StudentPaymentActivity" />
        <activity android:name=".Student.VoteActivity" />
        <activity android:name=".Student.StudentVoteActivity" />
        <activity android:name=".Teacher.TeacherInboxActivity" />
        <activity android:name=".Admin.AdminHomeActivity" />
        <activity android:name=".Admin.AdminLoginActivity" />
        <activity android:name=".PermissionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Teacher.AddCandidateActivity" />
        <activity android:name=".Teacher.TeacherHome" />
        <activity android:name=".Login.SignUpActivity" />
        <activity android:name=".Login.SignInActivity" />
        <activity android:name=".Login.PhoneNoActivity" />
        <activity
            android:name=".Teacher.TeacherRegister"
            android:theme="@style/MaterialNoTitle" />
        <activity
            android:name=".Student.StudentRegister"
            android:theme="@style/MaterialNoTitle" />
        <activity android:name=".Student.StudentHome" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>